*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card{
  padding: 20px;
  text-align: start;
}
.per-card{
  margin: 10px;
}
.Card img{
  width: 100%;
  height: 100%;
}
.card-content .btn{
  margin: 20px 0;
}
.search-bar{
  width: 900px;
}